@import "tailwindcss";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html { scroll-behavior:inherit; }
p{
  font-size: 1.5rem;
}
b{
  font-size: 2rem;
}

.navbar-conatiner{
  padding: 2rem;
}


/*:root {
  --text-color: #1a1a1a;
  --bg-color: #fff;
}

[data-theme='dark'] {
  --text-color: #f0f0f0;
  --bg-color: #1a1a1a;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  overflow-x: hidden;
  width: 100%;
}*/
ul{
  padding-left: 2rem;
}
.sidebar{
  padding-top: 3rem;
}
.side ul{
  margin-left: 6%;
}
.hamburger{
  padding:10px 10px;
}
.side{
  padding-top: 10px;
}
.about{
  padding: 3rem 0.5rem;
}

.about li{
  font-size: 1rem;
}
.about li b{
  font-size: 1rem;
}
.about .box {
  font-size: 1rem;
}
.about .para{
  font-size: 1.1rem;
}
.tech{
  padding-left: 2.5rem;
}
.box{
  background-color: rgb(145, 145, 255);
  color: #fff;
  padding: 0.2rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.box:hover{
  background-color: rgb(63, 63, 238);
}
.cert img{
  width: 24rem;
}
.cert img:hover{
  cursor: pointer;
  border: black solid 2px;
}
.footer{
  padding-left: 2rem;
  height: auto;
  bottom: 0;
  position: fixed;
}
.foot{
  align-items: center;
  justify-content: center;
  padding-top: 24px;
}
.foot p{
  font-size: 1rem;
}

.resumeD{
  padding: 0.3rem;
}




.contBox{
  background-color: rgb(233, 247, 254);
  height: auto;
  padding: 1rem;
  border-radius: 1%;
}
.contactP{
  font-size: 1.2rem;
}

.burger{
  padding: 1rem;
}